README.md
*.pyc
*.pyo
*.pyd
__pycache__
.pytest_cache
data
docs
.keys
.mypy_cache
.github
*.egg-info
.cookiecutter.yaml
.editorconfig
.pre-commit-config.yaml
CODE_OF_CONDUCT.md
CONTRIBUTING.md
Justfile
LICENSE
**/node_modules